:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --light-color: #ecf0f1;
    --dark-color: #34495e;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 1030; /* Asegura que el navbar esté por encima de otros elementos */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: añade una sombra para mejor visibilidad */
}

/* Añade un padding al body para compensar la altura del navbar fijo */
body {
    padding-top: 56px; /* Ajusta este valor según la altura de tu navbar */
}

.nav-pills .nav-link.active {
    background-color: var(--secondary-color);
}

.nav-link {
    color: var(--light-color);
}

.nav-link:hover {
    color: var(--secondary-color);
}

section {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.img-icon {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}

footer {
    background-color: var(--dark-color);
    color: white;
    padding: 2rem 0;
    margin-top: 3rem;
}

.social-links a {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: var(--secondary-color);
}